/* Base styles */
.container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mainSection {
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  .mainSectionLg {
    flex-direction: column;
  }
  
  .mainImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .mainImage {
    width: 100%;
    max-width: 40rem;
    object-fit: cover;
    border-radius: 4.5rem;
    transition: transform 0.3s;
  }
  
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  
  .title {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .titleLg {
    font-size: 2rem;
  }
  
  .paragraph {
    font-family: "Quicksand", sans-serif;
    font-size: 1.125rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  
  .paragraphLg {
    font-size: 1.25rem;
  }
  
  .mockupImage {
    width: 8%;
    margin: auto;
    object-fit: cover;
    border-radius: 4.5rem;
    transition: transform 0.3s;
  }
  
  .gallery {
    width: 100%;
    max-width: 70rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 3rem;
  }
  
  .gallerySm {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .galleryItem {
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .galleryImage {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: 2rem;
    transition: transform 0.3s;
  }
  
  .challengeSolution {
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 3rem;
  }
  
  .challengeSolutionLg {
    flex-direction: column;
  }
  
  .challengeSolutionItem {
    flex: 1;
  }
  
  /* Responsive Styles */
  @media (min-width: 768px) {
    .mainSectionLg {
      flex-direction: row;
      align-items: center;
    }
  
    .textContainer {
      height: 39rem;
    }
  
    .paragraph {
      line-height: 2.5rem;
      margin-bottom: 4rem;
    }
  
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .challengeSolutionLg {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  
  @media (min-width: 1024px) {
    .title {
      font-size: 2rem;
    }
  
    .paragraph {
      font-size: 1.25rem;
    }
  }
  